body {
    zoom: 1.2;
}

.stars5 a, .close {
    -webkit-transition:all 0.5s ease;
}

.mytab {
    font-size: .8em;
    height: 100%;
    width: 1030px;
    margin: 0 auto;
}

textarea {
    width: 550px;
    height: 300px;
    border-radius: 5px;
    border: 1px solid #C0CAD5;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#DAE2E8));
}

@-webkit-keyframes textareagradient {
        0% {
	  -webkit-box-shadow: 0 0 20px rgba(188, 212, 229, 0.2);
	}
	50% {
	  -webkit-box-shadow: 0 0 20px rgba(188, 212, 229, 0.9);
	}
	100% {
	  -webkit-box-shadow: 0 0 20px rgba(188, 212, 229, 0.2);
	}
}

textarea:focus{
    -webkit-animation: textareagradient 1s infinite ease-in-out;
}

.block {
    margin: 10px 0;
    padding: 0;
    height: 320px;
}

.main {
    width: 550px;
    padding: 10px;
    float: left;
}

.help {
    width: 400px;
    padding: 10px;
    float: left;
}

ul {
    list-style: none;
}

.attention {
    color: red;
}

.money {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 0;
}

.money2 {
    margin-top: 5px;
}

#header {
    height: 70px;
    width: 1030px;
    margin: 0 auto;
}

#logo {
    float: left;
    padding-left: 15px;
}

#logoCaption {
    padding: 13px 90px;
}

.stars5 {
    border: 2px solid #59ADD4;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #61BDE7;
    background-image: -webkit-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
    text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
    font-weight: bold;
    text-decoration: none;
    margin: 0 auto;
    width: 700px;
    position: relative;
}

.stars5 a {
    text-decoration: none;
}

.stars5 a:hover {
    color: #6B6B6B;
}

.close {
    font-weight: bold;
    color: white;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.close:hover {
    color: red;
}